[Avito]
url = https://www.avito.ru/moskva_i_mo/audio_i_video/naushniki
chat_id = 123456789,1234567890
tg_token = 1234567890:ABCDEFGHabcdefgh1234567890ABCDEFGHI
num_ads = 3
freq = 3
keys = тдс,akg
max_price = 20000
min_price = 0
geo = москва,зеленоград
